nav table, nav tr, nav td {
  border-collapse: collapse;
}

nav a {
  border: 1px solid #cfd0d1;
  text-decoration: none;
  color: black;
  padding: 3px 5px;
  cursor: pointer;
}

nav a:active {
  box-shadow: rgba(0, 98, 204, 0.35) 0px 0px 0px 0.2rem;;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.success {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

button {
  font-family: inherit;
}

table tr, table td {
  padding: 5px;
}